@import "../../styles/baseStyles";

.navbar {
  @include flexCenter(flex, center, center);
  background: $secondary-color;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 20;

  .center {
    @include flexCenter(flex, center, center);
    max-width: 1400px;
    width: 46%;

    .logo {
      color: $primary-color;
    }

    ul {
      display: flex;
      margin: 0;

      li {
        color: $primary-color;
        cursor: pointer;
        display: block;
        margin-right: 20px;
        padding: 0 10px 0 10px;
        text-transform: uppercase;
        font-weight: 100;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $hover-primary;
        }
      }
    }
  }
  .active {
    border-right: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
  }
}

@media (max-width: 600px) {
  .navbar .center {
    width: fit-content;
    ul {
      padding: 0;
      li {
        padding: 0 5px 0 5px;
        margin-right: 7px;
      }
    }
  }
}
